.env
.env.*
*.env
.ipynb_checkpoints/
__pycache__/
.venv/
venv/
work/
*.pyc
_backup/

.embeddings_cache/

# Runtime UI state written by app.py; the committed defaults live in
# preferences.default.json.
preferences.json